// =====================================
// flex utilities
// =====================================

.u-flex {
  display: flex;
}


.u-flex-column {
  flex-direction: column;
}


.u-flex-auto {
  flex: 1 1 auto;
}
