// =====================================
// css print
// =====================================


@media print {

  @page {
    margin: 1cm;
  }


  html {
    font-size: 12pt;
    line-height: 1.3;
  }


  .o-wrapper {
    max-width: inherit;
  }

  .c-site-nav {
    justify-content: center;
  }


  //
  // éléments à masquer
  // -------------------------------------

  .c-sn__logo-home {
    &::after {
      content: '' !important;
    }
  }

  .c-sn__menu,
  .c-site__footer {
    display: none;
  }

}
