// =====================================
// c-message
// =====================================


.c-message {
  border: 1px solid $color-black;
  border-width: 0 0 0 4px;

  &--info {
    background-color: $color-bg-message-info;
    border-color: $color-message-info;

    > .c-message__title {
      color: $color-message-info;
    }
  }

  > span {
    display: block;
  }
}


  //
  // c-message__title
  // -------------------------------------

  .c-message__title {
    font-weight: bold;
  }


  //
  // c-message__text
  // -------------------------------------

  .c-message__text {
    .c-message__title + & {
      margin-top: $spacing-unit-tiny;
    }
  }


// =====================================
// c-message-peremption
// =====================================

.c-message-peremption {
  padding: $spacing-unit-tiny;
  font-family: $font-heading;
  @include font-size(14px, false);

  > span {
    display: block;
  }
}
