// =====================================
// spip_table
// =====================================

table.spip {
  width: 100%;

  th,
  td {
    border: 1px solid $color-grey-300;
    vertical-align: top;
    padding-left: $spacing-unit-tiny;
    padding-right: $spacing-unit-tiny;

    &:empty {
      border: none;
    }
  }

  thead {
    tr:last-child {
      th {
        border-bottom-width: 2px;
      }
    }
  }

  tbody {
    tr {
      &:last-child {
        th {
          border-bottom-width: 2px;
        }
      }

      &:nth-of-type(odd) {
        background-color: $color-grey-100;
      }

      th:last-of-type {
        border-right-width: 2px;
      }
    }
  }

  caption {
    margin-bottom: $spacing-unit-small;
  }
}
