// =====================================
// c-category
// =====================================

.c-category {
	margin: $spacing-unit 0;
	
	@include mq(md) {
		margin: $spacing-unit-huge 0;
	}
}

	.c-category__header {
		margin-bottom: $spacing-unit-large;
	}

	.c-category__title {
		position: relative;
		@include font-size(28px, 1);
		text-transform: uppercase;
		
		> .o-icon--dot {
			width: 28px;
			height: 28px;
			margin-right: $spacing-unit-tiny;
			padding-top: 3px;
		}
		
		@include mq(md) {
			@include font-size(36px, 1);
			
			> .o-icon--dot {
				width: 30px;
				height: 30px;
			}
		}
	}