/* Webfont: CenturyGothic-Bold */@font-face {
    font-family: 'CenturyGothic';
    src: url('CenturyGothic-Bold.eot'); /* IE9 Compat Modes */
    src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CenturyGothic-Bold.woff') format('woff'), /* Modern Browsers */
         url('CenturyGothic-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

