// =====================================
// c-article
// =====================================


.c-article {}


  //
  // c-article__container
  // -------------------------------------

  .c-article__container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }


    //
    // c-article__meta
    // -------------------------------------

    .c-article__meta {
      display: flex;
      flex-direction: column;
      margin-bottom: $spacing-unit;

      @include mq(l) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      @include mq($mq-xxl) {
        margin-bottom: $spacing-unit-large;
      }
    }


      //
      // c-article__date
      // -------------------------------------

      .c-article__date {
        color: $color-grey-500;
        @include font-size(18px, false);

        @include mq(l) {
          flex: 0 1 30%;
          padding-bottom: $spacing-unit-tiny;
        }
      }


      //
      // c-article__message-peremption
      // -------------------------------------

      .c-article__message-peremption {

        @include mq(l) {
          flex: 0 1 68%;
        }
      }


    //
    // c-article__header
    // -------------------------------------

    .c-article__header {
      margin-bottom: $spacing-unit-large;
      line-height: 1.2;

      @include mq($mq-xxl) {
        margin-bottom: $spacing-unit-huge;
      }
    }


      //
      // c-article__title
      // -------------------------------------

      .c-article__titre {
        margin-bottom: 0;
        @include font-size(28px, false);
      }


      //
      // c-article__surtitre
      // -------------------------------------

      .c-article__surtitre {
        margin-bottom: $spacing-unit-small;
        @include font-size(20px, false);
        font-style: italic;
      }


      //
      // c-article__soustitre
      // -------------------------------------

      .c-article__soustitre {
        margin-bottom: 0;
        margin-top: $spacing-unit-small;
        @include font-size(20px, false);
        font-style: italic;
      }


      //
      // c-article__auteurs
      // -------------------------------------

      .c-article__auteurs {
        margin: $spacing-unit-large 0;
        padding: $spacing-unit $spacing-unit-small ($spacing-unit + $spacing-unit-small);
        @include font-size(18px);
        text-align: center;

        @include mq($mq-xxl) {
          margin-top: $spacing-unit-huge;
        }
      }


    //
    // c-article__logo
    // -------------------------------------

    .c-article__logo {
      margin-bottom: $spacing-unit-large;

      @include mq($mq-xxl) {
        margin-bottom: $spacing-unit-huge;
      }
    }


    //
    // c-article__texte
    // -------------------------------------

    .c-article__texte {

      &--chapo {
        margin-bottom: $spacing-unit-large;

        @include mq($mq-xxl) {
          margin-bottom: $spacing-unit-huge;
        }
      }
    }


    //
    // c-article__ps
    // -------------------------------------

    .c-article__ps {
      margin-top: $spacing-unit-large;
      padding-top: $spacing-unit;

      @include mq($mq-xxl) {
        margin-top: $spacing-unit-huge;
      }
    }


    //
    // c-article__footer / c-af
    // -------------------------------------

    .c-article__footer {}


      //
      // c-af__section
      // -------------------------------------

      .c-af__section {
        margin-top: $spacing-unit-large;
        padding-top: $spacing-unit;

        @include mq($mq-xxl) {
          margin-top: $spacing-unit-huge;
          padding-top: $spacing-unit-large;
        }
      }


        //
        // c-af__title
        // -------------------------------------

        .c-af__title {
          letter-spacing: 0.05rem;
          @include font-size(15px);
          font-weight: bold;
          text-transform: uppercase;
        }


      //
      // c-article__footnotes
      // -------------------------------------

      .c-article__footnotes {
        p {
          @include font-size(16px);
        }
      }


      //
      // c-article__tags
      // -------------------------------------

      .c-article__tags {
        @include font-size(16px);
      }


      //
      // c-article__related
      // -------------------------------------

      .c-article__related {}
