// =====================================
// c-doc-download
// =====================================

$mq-doc-download: 480px;


.c-doc-download {
  margin: $spacing-unit-small 0;
}


  //
  // c-doc-download__link
  // -------------------------------------

  .c-doc-download__link {
    flex-direction: column;
    border: 1px solid $color-grey-300;
    border-radius: 4px;
    padding: $spacing-unit-small;
    transition: all .5s ease;

    &:hover {
      background-color: $color-link-text;
      border-color: $color-link-text;

      .c-doc-download__img {
        border-right-color: darken($color-link-text, 25%);
      }

      img {
        mix-blend-mode: multiply;
      }
    }

    @include mq($mq-doc-download) {
      flex-direction: row;
    }
  }


    //
    // c-doc-download__img
    // -------------------------------------

    .c-doc-download__img {
      display: flex;
      justify-content: center;
      margin: 0 0 $spacing-unit-small;
      transition: border-color .5s ease;

      img {
        transition: all .5s ease;
      }

      @include mq($mq-doc-download) {
        border-right: 1px dotted $color-grey-400;
        margin: 0 $spacing-unit 0 0;
        width: 150px;
        padding: $spacing-unit;
      }
    }


    //
    // c-doc-download__body
    // -------------------------------------

    .c-doc-download__body {}


      //
      // c-doc-download__text
      // -------------------------------------

      .c-doc-download__text {
        margin-bottom: 0;
        color: $color-black;
      }


      //
      // c-doc-download__title
      // -------------------------------------

      .c-doc-download__title {
        color: $color-grey-700;
        font-family: $font-text;
        @include font-size(16px, 1.3);
      }


      //
      // c-doc-download__desc
      // -------------------------------------

      .c-doc-download__desc {}


      //
      // c-doc-download__infos
      // -------------------------------------

      .c-doc-download__infos {
        margin-top: $spacing-unit-tiny;
        color: $color-grey-500;
        @include font-size(15px, 1.3);
        transition: color .3s ease;
      }
