// =====================================
// c-membres
// =====================================


.c-membres {
  margin: $spacing-unit 0;
}


  //
  // c-membres__titre
  // -------------------------------------

  .c-membres__titre {}


  //
  // c-membres__liste
  // -------------------------------------

  .c-membres__liste {
    margin-bottom: 0;
  }


    //
    // c-membres__item
    // -------------------------------------

    .c-membres__item {
      padding: $spacing-unit-tiny;
      text-align: center;
    }


      //
      // c-membres__lien
      // -------------------------------------

      .c-membres__lien {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
        padding: $spacing-unit-small;
        transition: box-shadow .3s ease;

        &:hover {
          box-shadow: 0 0 5px rgba($color-link-text, 1);
        }
      }


        //
        // c-membres__logo
        // -------------------------------------

        .c-membres__logo {
          display: inline-block;
        }


        //
        // c-membres__nom
        // -------------------------------------

        .c-membres__nom {
          margin: $spacing-unit-small 0 0;
          font-family: $font-text;
          @include font-size(14px, 1);
        }
