// =====================================
// c-rubrique-resume
// =====================================


.c-rubrique-resume {}


  //
  // c-rubrique-resume__link
  // -------------------------------------

  .c-rubrique-resume__link {

    &--odse {
      color: $color-white;
    }
  }


  //
  // c-rubrique-resume__header
  // -------------------------------------

  .c-rubrique-resume__header {}


    //
    // c-rubrique-resume__titre
    // -------------------------------------

    .c-rubrique-resume__titre {
      display: flex;
      @include font-size(20px, 1);
      font-weight: bold;
      text-transform: uppercase;
    }


    //
    // c-rubrique-resume__desc
    // -------------------------------------

    .c-rubrique-resume__desc {
      @include font-size(18px);

      &--odse {
        @include mq(m) {
          @include font-size(20px);
        }
      }
    }


    //
    // c-rubrique-resume__liste-actualites
    // -------------------------------------

    .c-rubrique-resume__actualites {}


      //
      // c-rubrique-resume__actualite
      // -------------------------------------

      .c-rubrique-resume__actualite {}
