// =====================================
// c-site-nav
// =====================================

//
// variables
// -------------------------------------

$mq-site-nav: 900px;


//
// c-site-nav
// -------------------------------------

.c-site-nav {
  display: flex;
  justify-content: center;
  margin-top: $spacing-unit;

  &--mobile {}

  &--large {
    @include mq($mq-site-nav) {
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}


  //
  // c-sn__logo
  // -------------------------------------

  .c-sn__logo-home {
    display: flex;
    height: 50px;

    @include mq($mq-site-nav) {
      height: auto;
      padding-right: $spacing-unit;
      max-width: 254px;
    }
  }

    .c-sn__logo {
      fill: $color-odse;
    }


  //
  // c-sn__menu-toggle
  // -------------------------------------

  .c-sn__menu-toggle {
    align-self: center;

    @include mq($mq-site-nav) {
      display: none;
    }
  }


  //
  // c-sn__menu
  // -------------------------------------

  .c-sn__menu {

    &--large {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 48px;

      @include mq($until: $mq-site-nav) {
        display: none;
      }
    }

    &--mobile {}
  }


    //
    // c-sn-menu__search
    // -------------------------------------

    .c-sn-menu__search {

      &--large {
        position: absolute;
        right: -32px + -12px;
        height: 32px;
        width: 32px;
      }
    }


    //
    // c-sn-menu__list
    // -------------------------------------

    .c-sn-menu__list {
      font-family: $font-heading;

      &--large {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
        margin: 0;
      }
    }


    //
    // c-sn-menu__item
    // -------------------------------------

    .c-sn-menu__item {
      line-height: 1;
      text-transform: uppercase;

      &--mobile {
        padding: 0 0 $spacing-unit;
        @include font-size(20px, false);
        opacity: 0;
        transform: translateX(-100px);

        .c-dialog:not([aria-hidden="true"]) & {
          animation: appear 400ms 150ms 1 both;

          &:first-child {animation-delay: 0.2s;}
          &:nth-child(2) {animation-delay: 0.3s;}
          &:nth-child(3) {animation-delay: 0.4s;}
          &:nth-child(4) {animation-delay: 0.5s;}
        }
      }

      &--large {
        margin-left: 14px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

      //
      // c-sn-menu__link
      // -------------------------------------

      .c-sn-menu__link {
        display: flex;
        text-decoration: none;

        &:hover {
          color: $color-odse;
        }

        &--mobile {
          color: $color-white;
        }

        &--large {
          color: $color-black;
        }
      }
