// =====================================
// ol.spip / ul.spip
// =====================================


//
// Numérotation
//
// Source https://gist.github.com/jirutka/32049196ab75547b7f47
//

ol.spip {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol.spip > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;

  &::before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }
}

li ol.spip > li {
  margin: 0;

  &::before {
    content: counters(item, ".") " ";
  }
}
