// =====================================
// .spip_documents
// =====================================


.spip_documents {
  display: block;
  margin: $spacing-unit-huge 0;

  &_left {
    margin: 0 $spacing-unit-large $spacing-unit-small 0;
  }

  &_right {
    margin: 0 0 $spacing-unit-small $spacing-unit-large;
  }

  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacing-unit-large 0;
  }
}


  //
  // spip_doc_caption
  // -------------------------------------

  .spip_doc_caption {
    border-left: 1px solid $color-grey-300;
    padding-left: $spacing-unit-tiny;
    padding-top: $spacing-unit-small;
    color: $color-grey-500;
    @include font-size(15px, 1.3);
  }


  //
  // spip_doc_titre
  // -------------------------------------

  .spip_doc_titre {
    color: $color-grey-700;
  }
