// =====================================
// glideJs
// =====================================


.glide__arrow {
  padding: $spacing-unit-tiny / 2;
  background-color: $color-white;

  &--left {
    left: -1em;
  }

  &--right {
    right: -1em;
  }
}
