// =====================================
// .spip_cadre
// =====================================

.spip_code,
.spip_cadre {
  margin-bottom: $spacing-unit;
  width: 100%;
}

.spip_cadre {
  padding: .5em;
}
